
@font-face {
    font-family:'Global-Aspirants Fonts';
    src: url(../fonts/Satoshi-Light.ttf);
}

@font-face {
    font-family:'Global-Aspirants Itlaic-Fonts' ;
    src: url(../fonts/Satoshi-LightItalic.ttf);
}

@font-face {
    font-family:'Global_Aspirants Paragraph_fonts';
    src: url(../fonts/Satoshi-Regular.ttf);
}

